html {
    font-family: Arial, Helvetica, sans-serif;
    background: #303030;
    color: #f2f2f2;
}
body {
    height: 100%;
}
header {
    text-align: center;
    align-items: center;
    height: 70px;
    /* display: flex; */
    display: inline;
    flex-direction: row;
}
h1 {
    text-align: center;
    font-size: 5vw;
    margin: auto;
    margin-top: 20px;
    width: 40rem;
    float: none;
}
div {
    text-align: center;
    border-top: #202020;
    border-top-width: 5px;
    border-bottom: #202020;
    border-bottom-width: medium;
}
a {
    color: #f2f2f2;
    font-size: 25px;
    font-weight: bold;
}
img {
    width: 25%;
}
canvas {
    padding: auto;
}
.logo {
    width: 90px;
    float: left;
}
.logoA {
    margin-top: 35px;
    width: 70px;
}
.tetris {
    background: #44f;
}
.snake {
    background: #000;
}
.homeNavDiv {
    border-bottom-width: 2px;
    border-bottom-color: #111;
}
.br {
    display: none;
}
@media (max-width: 800px) {
    header {
        flex-direction: column;
        display: block;
    }
    .logo {
        float: none;
    }
    .br {
        display: block;
    }
}